= simple_form_for @job, html: {class: "form-horizontal", multipart: true} do |f|
  = render "shared/form", object: f.object
  .form-group
    = f.input :title, input_html: {class: "form-control"}

  .form-group
    = f.input :description, input_html: {class: "form-control"}

  .form-group
    = f.input :title, input_html: {class: "form-control"}

  .form-group
    = f.input :title, input_html: {class: "form-control"}
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :company %><br>
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
